
h1{
  margin-left: 23px;
  font-size: 40px;
}

input,select,textarea{
  font-size: 23px;
  margin: 23px;
  width: 330px;
  height: 30px;
}



button{
  font-size: 22px;
  padding: 5px;
}

.submit{
  display: block;
  margin-left:50px;
  
}

table,td,th{
  margin: 30px;
  font-size: 23px;
  border: 2px solid black;
  text-align: center;
  margin: 10px;

}

.remove_button{
  margin-left: 10px;
}

.home-buttons{
  margin:10px 15px;
}

.poolContainer{
  display: flex;
 
}

.poolContainer>*{
  flex-basis: 25%;
  flex: 1;
  border: 2px black solid;
  margin:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.postContainer{
  display: flex;
  flex-wrap: wrap;
}

.postContainer>*{

  flex: 1 30%;
  border: 2px black solid;
  margin:10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.challengeContainer{
  display: flex;
  flex-wrap: wrap;
}

.card{
  flex: 1 25%;
  border:2px solid black;
  margin: 10px;
  display: flex;
  padding-top: 5px;
  justify-content: center;
  align-items: center;

}


